@model IEnumerable<KipatBarzel.Models.Threat>

@{
    ViewData["Title"] = "Threat";
}


<h1> ירי צד אוייב</h1>

<p>
    <a asp-action="CreateThreat"> עדכן על איום חדש</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Id)@*@
                ID
            </th>
            <th>
                ארגון טרור
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Status)*@
                סוג הטיל
            </th>
            <th>
               סטטוס
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TerrorOrg.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td>

                @if(item.Status == KipatBarzel.Utils.ThreatStatus.inActive)
                {
                  @Html.ActionLink("שגר", "Launch", new { id = item.Id })
                }
                else
                {
                   <p>@item.FireTime</p>
                }
               
            </td>
                <td>
                    <button onclick="invokeLaunch(@item.Id, @item.ResponceTime, ' @($"{item.TerrorOrg.Name} {item.Type.Name}") ')">rt launch</button>
                </td>
        </tr>
}
    
    </tbody>
</table>
